<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axrb.openxrloaderprobe"
    android:versionCode="4"
    android:versionName="0.4">

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="29" />

    <uses-permission android:name="org.khronos.openxr.permission.OPENXR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <provider android:authorities="org.khronos.openxr.runtime_broker;org.khronos.openxr.system_runtime_broker" />
        <intent>
            <action android:name="org.khronos.openxr.OpenXRRuntimeService" />
        </intent>
        <intent>
            <action android:name="org.khronos.openxr.OpenXRApiLayerService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:label="AXRB OpenXR Loader Probe"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
